@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    /*FONT*/
    --font-poppins: 'Poppins', sans-serif;

    /*COLOR*/
    --black: #4d4c59;
    --purple: #6c63ff;
    --light-gray: #c8c8c8;
    --text-color: #9c9ab6;

}

body, html {

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-size: 62.5%;

}
body {

    height: 100vh;

}
.flex-box {

    height: 100vh;

    display: flex;
    justify-content: start;
    align-items: center;
     
    background: white url(imgs/rocket.svg) no-repeat fixed right center;

}
.flex-box-timer {

    width: 65%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.div-timer {

    display: grid;
    text-align: center;


}
.title-timer {

    margin: 0;

    font: 500 4rem var(--font-poppins);
    color: var(--black);

}
.timer {

    margin: 0;
    padding-top: 3rem;

    font: 400 6rem var(--font-poppins);
    color: var(--black);

}

#animated-text {

    font-size: 48px;
    color: rgb(153, 0, 255);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    animation: pulse 2s ease-in-out infinite;

  }
  
  @keyframes pulse {
    0% {

      transform: scale(1);

    }
    50% {

      transform: scale(1.2);
      color: orange;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);

    }
    100% {

      transform: scale(1);
      color: yellow;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);

    }
  }

  @media (max-width: 1170px) {
    
    body {

        backdrop-filter: blur(.5rem);

    }
    .flex-box {

        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        background: white url(imgs/rocket.svg) no-repeat fixed center center;

    }
    .flex-box-timer {

        width: 100%;
        background: #00000074;

    }
    .timer {

        padding-top: 2rem;
        padding-bottom: .8rem;

    }
    .title-timer {

        padding-top: 1rem;

    }
    .title-timer, .timer {

        color: #f4f3f3cf;

    }
    

}

@media (max-width: 510px) {

    .timer {

        padding-top: 2rem;
        padding-bottom: .8rem;

    }
    .title-timer {

        padding-top: 1rem;

    }

    .title-timer, .timer {

        font: 500 3.8rem var(--font-poppins);
        color: #f4f3f3cf;

    }

} 

@media (max-width: 485px) {

    h1.title-timer, p.timer {

        font: 500 3.2rem var(--font-poppins);
        color: #f4f3f3cf;

    } 

}

@media (max-width: 408px) {

    h1.title-timer, p.timer {

        font: 500 2.5rem var(--font-poppins);
        color: #f4f3f3cf;

    } 

}

@media (max-width: 320px) {

    h1.title-timer, p.timer {

        font: 500 2.2rem var(--font-poppins);
        color: #f4f3f3cf;

    } 

}
