@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    /*FONT*/
    --font-poppins: 'Poppins', sans-serif;

    /*COLOR*/
    --black: #4d4c59;
    --purple: #6c63ff;
    --light-gray: #c8c8c8;
    --text-color: #9c9ab6;

}

body, html {

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-size: 62.5%;

}
body {

    background: #fff url(imgs/rocket.svg) no-repeat right fixed;

    height: 100vh;

}
.top-image img {

    height: 100%;
    width: 100%;

}
.flex-box-timer {

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.div-timer {

    padding-left: 5%;

    display: grid;
    text-align: center;

}
.div-timer > h1 {

    margin: 0;
    padding-bottom: 2rem;

    font: 700 3.6rem var(--font-poppins);
    text-transform: uppercase;
    color: var(--purple);

}
.div-timer-div {

    padding-bottom: 1.5rem;

}
.div-timer.div > span {

    font: 400 1.4rem var(--font-poppins);
    color: var(--text-color);

    display: grid;
    grid: 1fr 1fr 1fr 1fr;

}
.div-timer-div > p {

    margin: 0;

    font: 400 6rem var(--font-poppins);
    color: var(--black);

}
.div-timer > p {

    margin: 0;
    padding-bottom: 2.5rem;

    font: 400 1.4rem var(--font-poppins);
    color: #9c9ab6;

}
span.button > button {

    padding: 1rem 3rem;
    border: 0;
    border-radius: 1rem;

    font: 400 1.6rem var(--font-poppins);
    color: #fff;
    background: var(--purple);

}
.bottom-image img {

    height: 100%;
    width: 100%;

}
  @media (max-width: 1170px) {
    
    body {

        backdrop-filter: blur(.5rem);

    }
    .flex-box {

        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-box-timer {

        width: 100%;
        background: #00000074;

    }
    .timer {

        padding-top: 2rem;
        padding-bottom: .8rem;

    }
    .title-timer {

        padding-top: 1rem;

    }
    .title-timer, .timer {

        color: #f4f3f3cf;

    }
    

}

@media (max-width: 510px) {

    .timer {

        padding-top: 2rem;
        padding-bottom: .8rem;

    }
    .title-timer {

        padding-top: 1rem;

    }

    .title-timer, .timer {

        font: 500 3.8rem var(--font-poppins);
        color: #f4f3f3cf;

    }

} 

@media (max-width: 485px) {

    h1.title-timer, p.timer {

        font: 500 3.2rem var(--font-poppins);
        color: #f4f3f3cf;

    } 

}

@media (max-width: 408px) {

    h1.title-timer, p.timer {

        font: 500 2.5rem var(--font-poppins);
        color: #f4f3f3cf;

    } 

}

@media (max-width: 320px) {

    h1.title-timer, p.timer {

        font: 500 2.2rem var(--font-poppins);
        color: #f4f3f3cf;

    } 

}
